{% extends 'base.html' %}
{% block title %} Your Link History {% endblock %}
{% block content %} 

<div class="container">
<h1>Link history</h1>
      
      {% for links in linklist %}
      <div class="linkhist">
      <p>Link Source : {{ links['url_source'] }}</p>
      <p>Short Link: {{ links['scissored_url'] }} </p>
      <p> Number of Clicks : {{ links['clicks'] }} </p>
      <p> Date Created :{{  links['created_at'] }} </p>
      </div>
      {% endfor %}
      
        
</div>






{% endblock %}