{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <!-- Content here -->
      
    <form method="POST" action="{{url_for('shortner')}}">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Past Your Long Link Here</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Paste your link here" name="url_source">
        <input type="submit">
      </div>
    </form>
   
   <h1> Do you want to customise your link? </h1>
    <form method="POST" action="{{url_for('customLink')}}">
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Past Your Long Link Here</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Paste your link here" name="custom_url_source">
          <label for="exampleFormControlInput1" class="form-label">Type your Custom name here</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type your Custome name here" name="custom_name">

          <input type="submit">
        </div>
      </form>
      {% if new_url %}
      <p>Link Source : {{link_analysis[0]  }} </p>
      <p> short link: <a href="{{ url_for('redirectUrl', new_url=new_url.scissored_url)}}">{{ new_url.scissored_url }} </a> </p>
      <p> Clicks: {{ link_analysis[3] }} </p>
      <p>  Time Created: {{ link_analysis[2] }} </p>
      {% endif %}
      
    {% if url_record  and customise %} 
      <p>Link Source : {{ link_analysis[0] }} </p>    
      <p>  Short link: <a href="{{ url_for('redirectUrl', new_url=new_url.scissored_url)}}"> {{ url_record.scissored_url }} </a> </p>
      <p> Clicks: {{ link_analysis[3] }} </p>
      <p>  Time Created: {{ link_analysis[2] }} </p>

    {% endif %}

  <a href="{{url_for('linkhistories')}}"><button class="btn btn-primary">Get your Link History Here</button></a>

    


   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</div>

{% endblock %}